/* CSS Document */


/* Start Body */
body {
	margin:0;
	padding:0;
}
/* Start Page */
#page {
	font: 100% Georgia, "Times New Roman", Times, serif;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 50px;
    text-align: left;
    position: relative;
    background: white;
}
/* End Page */
/* Start Header */
header {
	float:left;
	clear:both;
	width:100%;
	height:auto;
	background: url(../images/Faithful-Fruit-Factory-Logo-02-w135.png) no-repeat;
    padding: 20px 0;
    position: relative;
    border-bottom: 2px solid #7f7f7f;
    margin-bottom: 1em;
	overflow:hidden;
}
.h1-header {
	float:right;
	text-align:right;
}	

/* End Header */          


/* Start Nav */  
nav {
	float:left;
	clear:both;
	width:100%;
	height:auto;
	overflow:hidden;
}
nav h3 {
	display:none;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
} 

nav ul li {
    float: left;
}
nav ul li {
    border-right: 1px solid #bbb;
}

nav ul li:last-child {
    border-right: none;
}
nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
nav ul li a:hover {
    background-color: #0C3;
	color:#F60;
}
.active {
    background-color: #4CAF50;
}
.active a:hover {
    background-color: #4CAF50;
	color:#FFF;
	cursor:default;
}
/* Remove margins and padding from the list, and add a black background color */
ul.mainNav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

/* Float the list items side by side */
ul.mainNav li {float: left;}

/* Style the links inside the list items */
ul.mainNav li a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 17px;
}

/* Change background color of links on hover */
ul.mainNav li a:hover {background-color: #0C3;}

/* Hide the list item that contains the link that should open and close the topnav on small screens */
ul.mainNav li.icon {display: none;}

/* End Nav */          

/* Start Main */

main {
}
main.main-article {
	float: left;
	width: 60%;
	border-right: 1px solid #7f7f7f;
	padding: 0 10px 0 25px;
	margin-bottom: 2em;
}

main.main-article img {
	max-width:100%;
	height:auto;
}

main.main-article video {
	max-width:100%;
	height:auto;
}
div.video {
	float:none;
	text-align:center;
	margin:10px auto;
}
/* End Main */

section.pomelo-recipes {
}
/* Start Article */
article {
}
article.article-section {
	float: right;
	clear: right;
	width: 33%;
	padding: 0 10px 0 10px;
	margin-bottom: 0;
}
article.article-section img {
	max-width:80%;
	height:auto;
}
article.article-section video {
	max-width:100%;
	height:auto;
	text-align:center;
}
div.audio {
	float:none;
	text-align:center;
	margin:10px auto;
}
footer span.author {
	font-style:normal;
}
footer span.website-url {
	font-style:normal;
}
/* End Article */

/* Start Section */
section {
}
section.street-address {
}
/* End Section */


/* Aside Section */
aside.factory-location {
}
/* End Aside Section */

/* Start Figure Section */
figure {
}

figcaption {
} 
/* End Figure Section */

/* Start Blockquote Section */
blockquote {
}
/* End Blockquote Section */

/* Start Cite Section */
cite {
}
/* End Cite Section */

/* Start Author Section */
.author {
}
/* End Author Section */

/* Start Address Section */
address {
}
/* End Address Section */

/* Start Footer Section */
footer {
	float:none;
	clear:both;
	width: 100$;
	border-top: 2px solid #7f7f7f;
    padding: 2em;
    clear: both;
    overflow: auto;
}

#page-footer {
}
footer .to-top {
	text-align:center;
}
footer .right-col {
	float: right;
	clear: right;
	width: 49%;
	text-align:right;
	margin-bottom: 0;
}
footer .leftt-col {
	float: left;
	width: 49%;
	padding: 0 10px 0 25px;
	margin-bottom: 2em;
}
/* End Footer Section */

/* Start Fan Form */

.fan-form {
}
.fan-fieldset {
}
.fan-legend {
}
.fan-label {
}
.fan-input {
}
.fan-input-checkbox {
}
.fan-select {
}
.fan-input-list {
}
.fan-datalist {
}
.fan-textarea {
}
div.form-submit-reset {
	text-align:center;
}
.fan-submit {
}
.fan-reset {
}
/* End Fan Form */


/* Start Media Queries */

/* When the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list item that contains the link to open and close the topnav (li.icon) */
@media screen and (max-width:680px) {
  ul.mainNav li:not(:first-child) {display: none;}
  ul.mainNav li.icon {
    float: right;
    display: inline-block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens */
@media screen and (max-width:680px) {
  ul.mainNav.responsive {position: relative;}
  ul.mainNav.responsive li.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  ul.mainNav.responsive li {
    float: none;
    display: inline;
  }
  ul.mainNav.responsive li a {
    display: block;
    text-align: left;
  }
}
@media screen and (max-width:899px) {  
#page {
	max-width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    text-align: left;
    position:  relative;
    background: white;
}
header {
	float: left;
	width: 100%;
	clear:both;
	height:auto;
	background: url(../images/Faithful-Fruit-Factory-Logo-02-w135.png) no-repeat;
    padding: 20px 0;
    position: relative;
    border-bottom: 2px solid #7f7f7f;
    margin-bottom: 1em;
	overflow:hidden;
}  
.h1-header {
	float:right;
	clear:both;
	text-align:center;
}
nav {
	float:left;
	clear:both;
	width:100%;
	height:auto;
	overflow:hidden;
}
main.main-article {
	float: left;
	width: 100%;
	clear:both;
	border-right: none;/* 1px solid #7f7f7f;*/
	padding: 0 0 0 2px;
	margin-bottom: 2em;
}
/* End Main */

article.article-section {
	float: left;
	clear: both;
	width: 100%;
	padding: 0 10px 0 10px;
	margin-bottom: 0;
}
}
@media screen and (max-width: 680px) and (min-width: 321px) {
#page {
	max-width: 100%;
    margin: 0 auto;
    padding: 0 10px;
    text-align: left;
    position:  relative;
    background: white;
}
header {
	float: left;
	width: 100%;
	clear:both;
	height:auto;
	background: url(../images/Faithful-Fruit-Factory-Logo-02-w135.png) no-repeat;
    padding: 20px 0;
    position: relative;
    border-bottom: 2px solid #7f7f7f;
    margin-bottom: 1em;
	overflow:hidden;
}  
.h1-header {
	float:right;
	clear:both;
	text-align:center;
}
nav {
	float:left;
	clear:both;
	width:100%;
	height:auto;
	overflow:hidden;
}
main.main-article {
	float: left;
	width: 100%;
	clear:both;
	border-right: none;/* 1px solid #7f7f7f;*/
	padding: 0 0 0 2px;
	margin-bottom: 2em;
}
/* End Main */

article.article-section {
	float: left;
	clear: both;
	width: 100%;
	padding: 0 10px 0 10px;
	margin-bottom: 0;
}
}
@media screen and (max-width:320px) {  

#page {
	min-width: 320px;
    margin: 0 auto;
    padding: 0 10px;
    text-align: left;
    position:  relative;
    background: white;
}
header {
	float: left;
	width: 97%;
	clear:both;
	height:auto;
	background: url(../images/Faithful-Fruit-Factory-Logo-02-w135.png) no-repeat;
    padding: 0;
    position: relative;
    border-bottom: 2px solid #7f7f7f;
    margin-bottom: 1em;
	overflow:hidden;
}  
.h1-header {
	float:right;
	clear:both;
	text-align:center;
}	
nav {
	float:left;
	clear:both;
	width:97%;
	height:auto;
	overflow:hidden;
}
main.main-article {
	float: left;
	width: 97%;
	clear:both;
	border-right: none;/* 1px solid #7f7f7f;*/
	padding: 0;
	margin-bottom: 2em;
}
/* End Main */

article.article-section {
	float: left;
	clear: both;
	width: 97%;
	padding: 0;
	margin-bottom: 0;
}
footer {
	width: 97%;
}

}
